        <footer class="page-footer">
            <div class="container" >
                <div class="row">
                    <div class="col s12 m5">
                        <h5 class="white-text">ТОО «Aqua Service Astana»</h5>
                        <p class="grey-text text-lighten-4"><i>Более 15 лет на рынке услуг  в сфере канализации.</i></p>
                        <p class="grey-text text-lighten-4"><i>Профессиональная помощь в прочистке труб.</i></p>
                    </div>

                    <div class="col s12 m3">
                        <h5 class="white-text">Контакты</h5>
                        <ul>
                            <li>
                                <a href="https://api.whatsapp.com/send?phone=87012222789&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5,%20%D0%BD%D1%83%D0%B6%D0%BD%D0%B0%20%D0%B2%D0%B0%D1%88%D0%B0%20%D0%BF%D1%80%D0%BE%D1%84%D0%B5%D1%81%D1%81%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C.">
                                    написать в WhatsApp
                                </a>
                            </li>
                            <li><a class="footer-tel-number" href="tel:+7-707-2222-789">тел: +7-707-2222-789</a></li>
                            <li><a class="footer-tel-number" href="tel:+7-701-2222-789">тел: +7-701-2222-789</a></li>
                        </ul>
                    </div>

                    <div class="col s12 m4">
                        <h5 class="white-text">Оборудование</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="/equipment#krot">Крот</a></li>
                            <li><a class="grey-text text-lighten-3" href="/equipment#cobra">Кобра</a></li>
                            <li><a class="grey-text text-lighten-3" href="/equipment#mini-cobra">Мини-кобра</a></li>
                            <li><a class="grey-text text-lighten-3" href="/equipment#videocamera">Видеокамера</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="container">
                    <span id="current-year"></span>
                    <a class="grey-text text-lighten-4 right" href="https://t.me/bakhtiyarospanov">made by @bakhtiyar_ospanov</a>
                </div>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="node_modules/jquery/dist/jquery.slim.js"></script>

        <!--Materialize-->
        <script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $(".dropdown-trigger").dropdown({ hover: true, coverTrigger: false });
                $('.sidenav').sidenav();
                initCurrentYear()
            });

            function initCurrentYear() {
                document.getElementById("current-year").innerHTML = new Date().getFullYear();
            }
        </script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-PLG3X9XJ9P"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-PLG3X9XJ9P');
        </script>
    </body>
</html>