<!DOCTYPE html>
    <html lang="ru">
        <head>
            <meta charset="utf-8">
            <title>Aqua Service Astana</title>
            <meta property="og:site_name" content="Aqua Service Astana">
            <meta property="og:title" content="Aqua Service Astana">
            <meta property="og:description" content="Более 10 лет на рынке услуг в сфере канализации. Профессиональная помощь в прочистке труб.">
            <meta property="og:image" content="https://aqua-service.kz/static/jpg/icon.ico">
            <meta property="og:url" content="https://www.aqua-service.kz/">
            <meta property="og:type" content="website">

            <link rel="icon" href="static/jpg/icon.ico">
            <!--Import Google Icon Font-->
            <link rel="stylesheet" href="node_modules/material-icons/iconfont/material-icons.css">

            <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">

            <!--Let browser know website is optimized for mobile-->
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

            <link rel="stylesheet" href="static/css/styles.css">
        </head>

        <body style="background-image: url(static/jpg/wavecut.png);">
            <header>
                <!-- Dropdown Structure -->
                <ul id="equipment" class="dropdown-content">
                    <li><a href="/equipment#krot">Крот</a></li>
                    <li><a href="/equipment#cobra">Кобра</a></li>
                    <li><a href="/equipment#mini-cobra">Мини-кобра</a></li>
                    <li><a href="/equipment#videocamera">Видеокамера</a></li>
                </ul>

                <nav class="nav-extended">
                        <div class="nav-wrapper">

                            <a href="/"><img class="icon hide-on-med-and-down" src="static/jpg/kaplya.png" alt="" width="40"></a>
                            <a href="/" class="brand-logo">Aqua Service Astana</a>

                            <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                            <ul class="right hide-on-med-and-down">
                                <li><a href="/">Главная</a></li>
                                <li><a class="dropdown-trigger" href="/equipment" data-target="equipment">Оборудование<i class="material-icons right">arrow_drop_down</i></a></li>
                                <li><a href="/contacts">Контакты</a></li>
                                <li><a href="tel:+7-707-2222-789">+7-707-2222-789<i class="material-icons left">call</i></a></li>
                                <li><a href="<%= whatsAppLink %>">Написать в WhatsApp</a></li>
                            </ul>
                        </div>
                        <div class="container">
                            <div class="nav-content">
                                <span><i>Более 15 лет на рынке услуг в сфере канализации.</i></span>
                                <span><i>Профессиональная помощь в прочистке труб.</i></span>
                                <a class="waves-effect waves-light btn call-btn hide-on-large-only" href="tel:+7-707-2222-789" style="margin: 5px 0; min-width: 220px;">
                                    +7-707-2222-789<i class="material-icons left" style="line-height: 35px;">call</i>
                                </a>
                                <a class="waves-effect waves-light btn call-btn hide-on-large-only" style="min-width: 220px;" href="<%= whatsAppLink %>">
                                    Написать в WhatsApp
                                </a>
                            </div>
                        </div>
                </nav>

                <ul class="sidenav" id="mobile-demo">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/equipment">Оборудование</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>

            </header>