<%- include('partials/top.ejs')%>
    <main id="contacts-page">
        <div class="container white" style="padding-bottom: 100px;">
            <div class="row content-row">
                <div class="s12">
                        <h5 style="padding-top: 10px; margin-top: 0;">
                        <a href="https://api.whatsapp.com/send?phone=87012222789&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5,%20%D0%BD%D1%83%D0%B6%D0%BD%D0%B0%20%D0%B2%D0%B0%D1%88%D0%B0%20%D0%BF%D1%80%D0%BE%D1%84%D0%B5%D1%81%D1%81%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C.">
                            Написать в WhatsApp
                        </a>
                    </h5>
                </div>
                <div class="s12">
                    <h5>
                    <a href="tel:+7-707-2222-789">тел: +7-707-2222-789</a>
                    </h5>
                </div>

                <div class="s12">
                    <h5>
                    <a href="tel:+7-701-2222-789">тел: +7-701-2222-789</a>
                    </h5>
                </div>
            </div>
        </div>
    </main>
<%- include('partials/bottom.ejs')%>