<%- include('partials/top.ejs')%>
<main id="equipment-page">
    <div class="container white">
        <div id="krot" class="row content-row">
            <div class="col s12 m6">
                <img src="static/jpg/krot.jpg">
            </div>
            <div class="col s12 m6 equipment-info">
                <p><span>Гидродинамическая прочистная машина <strong>"Крот"</strong> прочищает трубы диаметром 50 - 250 мм.
                        Высоким давлением в 205 бар горячая вода с раствором расщепляет все жировые отложения.</span></p>
                <p><span>Легкий, гибкий шланг проходит сквозь засоры и жировые отложения.
                        При извлечении шланга, вымываются отходы и полностью восстанавливается внутренний диаметр трубопровода</span></p>
            </div>
        </div>

        <div class="divider"></div>

        <div id="cobra" class="row content-row">
            <div class="col s12 m6">
                <img src="static/jpg/cobra.jpg">
            </div>
            <div class="col s12 m6 equipment-info">
                <p><span>Прочистная машина секционного типа <strong>"Кобра"</strong> предназначена для прочистки сточных и канализационных труб диаметром 50 - 250 мм на длину до 92 м. </span></p>
                <p><span>Справляется с такими ситуациями как прочистка труб с прошедшими насквозь корнями деревьев. Прочищает засоры из-за застрявших больших комков тряпок.</span></p>
            </div>
        </div>

        <div class="divider"></div>

        <div id="mini-cobra" class="row content-row">
            <div class="col s12 m6">
                <img src="static/jpg/mini-cobra.jpg" style="width: auto;">
            </div>
            <div class="col s12 m6 equipment-info">
                <p><span>Прочистная машина "Мини-Кобра" используется для прочистки трубопроводов небольшого диаметра от 30 до 75 мм на длину до 15 м. Область применения: сточные трубы кухонных раковин, ванных комнат и душевых.</span></p>
            </div>
        </div>

        <div class="divider"></div>

        <div id="videocamera" class="row content-row">
            <div class="col s12 m6">
                <img src="static/jpg/videocamera.jpg" style="margin-top: 20px;">
            </div>
            <div class="col s12 m6 equipment-info">
                <p><span>Видеокамера используется для визуального осмотра труб изнутри. При подозрении о поломках труб, трещинах или поиске непроходимых пробок.
                        Может быть использованна в трубах от 50 мм до 300 мм. </span></p>
            </div>
        </div>
    </div>
</main>
<%- include('partials/bottom.ejs')%>