<%- include('partials/top.ejs')%>
    <main>
    <div class="container white" style="padding: 20px 0;">
        <div class="row">
            <div class="col s12 center">
                <img src="static/jpg/man.png" style="width: 100%">
            </div>
        </div>

        <div class="row index-info">
            <div class="col s12">
                <h5><strong>Мероприятия по очистке систем канализации</strong></h5>

                <p>
                    <span>Канализация – это основная и неотъемлемая составляющая цивилизованной современной жизни.</span>
                </p>

                <p>
                    <span>Компания Aqua Service Astana предлагает клиентам весь комплекс услуг по очистке канализационных систем и водостоков с помощью современного гидродинамического оборудования.
                        А также, наши специалисты окажут Вам любую консультационную помощь в целях предотвращения проблем в будущем.</span>
                </p>

                <p>
                    <span>Команда профессионалов нашей компании осуществляет такой комплекс услуг:</span>
                </p>
                <ul>
                    <li>очистка систем канализации</li>
                    <li>гидродинамическая промывка труб</li>
                    <li>разморозка полиэтиленовых труб водопровода</li>
                </ul>
            </div>
        </div>

        <div class="row content-row">
            <div class="col s12 m6">
                <img src="static/jpg/sewersystemschematic.jpg">
            </div>
            <div class="col s12 m6">
                <h4 style="margin-top: 0;">Очистка канализации</h4>
                <p><span>Обращайтесь в компанию Aqua Service Astana в любое время, и профессиональная команда в кратчайшие сроки проведет очистку ваших канализационных систем и сетей водостоков, используя аппаратуру высокого давления.</span></p>
                <p><span>Наши услуги предоставляются по городу Астана. Высококвалифицированные специалисты Aqua Service Astana сделают всё, для того, чтобы мир вокруг стал чище. Все наши клиенты остаются довольны нашей работой и обязательно обращаются к нам снова!</span></p>
            </div>
        </div>
    </div>
</main>
<%- include('partials/bottom.ejs')%>