nav ul a:hover {
    background-color: #7986cb;
}
.index-info p {
    padding-left: 40px;
}

.index-info li {
    list-style-type: disc !important;
    margin-left: 60px;
}

.index-info {
    margin: 0 40px;
}

.content-row {
    margin: 0 40px;

}

.content-row img {
    width: 100%;
}

.nav-extended {
    background-color: #1d3060;
}

#equipment {
    background-color: #1d3060;
}

#equipment a {
    color: white;
}

.nav-wrapper .icon {
    margin-left: 200px;
    padding-top: 13px;
    margin-right: 5px;
}

.call-btn {
    background-color: #2046a6 !important;
}

.nav-content {
    padding-bottom: 10px;
}

.nav-content i {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}

.page-footer {
    background-color: #192a54;
}

.footer-tel-number {
    color: white;
}

.page-footer .footer-copyright {
    background-color: #1d3060; !important;
}

.equipment-info {
    padding-top: 20px;
}

.equipment-info span{
    font-size: 20px;
}

#equipment-page .divider {
    height: 5px;
}

@media (max-width: 992px) {
    nav .brand-logo {
        font-size: 16px;
    }
    .index-info p {
        padding-left: 0;
    }

    .index-info li {
        list-style-type: disc !important;
        margin-left: 15px;
    }
}